@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--cardForeground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popoverForeground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primaryForeground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondaryForeground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--mutedForeground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accentForeground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructiveForeground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart1);
  --color-chart-2: var(--chart2);
  --color-chart-3: var(--chart3);
  --color-chart-4: var(--chart4);
  --color-chart-5: var(--chart5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebarForeground);
  --color-sidebar-primary: var(--sidebarPrimary);
  --color-sidebar-primary-foreground: var(--sidebarPrimaryForeground);
  --color-sidebar-accent: var(--sidebarAccent);
  --color-sidebar-accent-foreground: var(--sidebarAccentForeground);
  --color-sidebar-border: var(--sidebarBorder);
  --color-sidebar-ring: var(--sidebarRing);

  --font-sans: var(--fontSans);
  --font-mono: var(--fontMono);
  --font-serif: var(--fontSerif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow2xs);
  --shadow-xs: var(--shadowXs);
  --shadow-sm: var(--shadowSm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadowMd);
  --shadow-lg: var(--shadowLg);
  --shadow-xl: var(--shadowXl);
  --shadow-2xl: var(--shadow2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }

  .font-sans {
    font-family: var(--font-sans);
  }

  .font-serif {
    font-family: var(--font-serif);
  }

  .font-mono {
    font-family: var(--font-mono);
  }
}

.bg-portrait {
  background-color: #000;
  position: relative;
}

.bg-portrait::before {
  content: "";
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/portrait-bg.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

@media (min-width: 768px) {
  .bg-portrait {
    background-image: none;
  }

  .bg-portrait::before {
    display: none;
  }
}
